.nav-container {
  display: flex;
  justify-content: space-between;
  height: 82px;
  background-image: linear-gradient(to right, #4379ae, #839504); }
  .nav-container .nav__logo {
    font-size: 12.5px;
    color: #fff;
    padding-top: 15px;
    padding-left: 55.8px; }
    .nav-container .nav__logo .logo {
      font-weight: 100; }
      .nav-container .nav__logo .logo .logo__span {
        font-weight: 700; }
  .nav-container .nav__search {
    padding-top: 20px;
    margin-left: 22px;
    width: 40%;
    /*::before {
        position: relative;
        content: '\f002';
        font-family: "FontAwesome";
    }*/ }
    .nav-container .nav__search input {
      width: 100%;
      padding: 10px 0 8px 12.5px;
      border-radius: 2px;
      border-color: transparent;
      font-size: 17px;
      position: relative;
      /*background-image: url(../img/lupa.svg);
      background-repeat: no-repeat;
      background-position-x: 96.5%;
      background-size: 3.5%;
      background-position-y: 48%;*/ }
    .nav-container .nav__search i {
      position: absolute;
      top: 32px;
      right: 46.9%;
      font-size: 18px; }
  .nav-container .nav__menu {
    width: 33%; }
    .nav-container .nav__menu .menu__list {
      display: flex;
      align-items: center;
      margin-top: 20px; }
      .nav-container .nav__menu .menu__list .menu__list__item {
        text-align: center;
        margin-left: 25px;
        margin-right: 15px; }
        .nav-container .nav__menu .menu__list .menu__list__item .title {
          font-size: 14.7px;
          color: #fff; }
        .nav-container .nav__menu .menu__list .menu__list__item .icons {
          font-size: 25px;
          color: #fff;
          padding-bottom: 3px; }
  .nav-container .nav__profile {
    display: flex;
    margin-top: 10px;
    width: 11.3%; }
    .nav-container .nav__profile .notification {
      font-size: 28px;
      margin: 19px 23px 0 0; }
      .nav-container .nav__profile .notification i {
        color: #fff; }
      .nav-container .nav__profile .notification .notification__number {
        font-size: 14px;
        content: '8';
        background-color: #b01818;
        width: 1.1%;
        text-align: center;
        border-radius: 43%;
        position: absolute;
        right: 133px;
        top: 28px;
        color: #fff; }
    .nav-container .nav__profile .photo {
      margin-top: 12px; }
      .nav-container .nav__profile .photo img {
        border-radius: 50%;
        width: 32%;
        border: 2px solid #fff; }
      .nav-container .nav__profile .photo .arrow {
        position: absolute;
        top: 30px;
        padding-left: 3px;
        font-size: 24px;
        color: #fff; }

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.container {
  display: flex;
  margin: 61px 26px 0 26px; }
  .container .aside-left {
    width: 23.6%;
    margin-right: 26px; }
    .container .aside-left .events {
      background-color: red;
      border-radius: 5px; }
      .container .aside-left .events .events__title {
        display: flex;
        background-color: #4366a6;
        padding: 23px 0 15px 27px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
        .container .aside-left .events .events__title .icon__title {
          font-size: 17px;
          color: #fff;
          padding: 2px 16px 0 1px; }
        .container .aside-left .events .events__title .title {
          font-family: 'Source Sans Pro', sans-serif;
          color: #fff;
          font-size: 15px;
          font-weight: 500; }
  .container .main {
    width: 49%;
    margin-right: 25px; }
  .container .aside-right {
    width: 23.6%; }

/*# sourceMappingURL=main.css.map */
