.aside-left {
    width: 23.6%;
    margin-right: 26px;

    .events {
        background-color: red;
        border-radius: 5px;

        .events__title {
            display: flex;
            background-color: $blue;
            padding: 23px 0 15px 27px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            .icon__title {
                font-size: 17px;
                color: $white;
                padding: 2px 16px 0 1px;
            }

            .title {
                font-family: 'Source Sans Pro', sans-serif;
                color: $white;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}