@import "colors";
@import "nav";

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


//.nav {@import "nav";}

.container {
    display: flex;
    margin: 61px 26px 0 26px;

    @import "aside_left";

    .main {
        width: 49%;
        margin-right: 25px;
    }

    .aside-right {
        width: 23.6%;
    }
}