.nav-container {
    display: flex;
    justify-content: space-between;
    height: 82px;
    background-image: linear-gradient(to right, #4379ae, #839504);

    .nav__logo {
        font-size: 12.5px;
        color: $white;
        padding-top: 15px;
        padding-left: 55.8px;

        .logo {
            font-weight: 100;

            .logo__span {
                font-weight: 700;
            }
        }
    }

    .nav__search {
        padding-top: 20px;
        margin-left: 22px;
        width: 40%;

        input {
            width: 100%;
            padding: 10px 0 8px 12.5px;
            border-radius: 2px;
            border-color: transparent;
            font-size: 17px;

            position: relative;

            /*background-image: url(../img/lupa.svg);
            background-repeat: no-repeat;
            background-position-x: 96.5%;
            background-size: 3.5%;
            background-position-y: 48%;*/

            
        }

        i {
            position: absolute;
            top: 32px;
            right: 46.9%;
            font-size: 18px;
        }

        /*::before {
            position: relative;
            content: '\f002';
            font-family: "FontAwesome";
        }*/
    }

    .nav__menu {
        width: 33%;

        .menu__list {
            display: flex;
            align-items: center;
            margin-top: 20px;

            .menu__list__item {
                text-align: center;
                margin-left: 25px;
                margin-right: 15px;

                .title {
                    font-size: 14.7px;
                    color: $white;
                }

                .icons {
                    font-size: 25px;
                    color: $white;
                    padding-bottom: 3px;
                }
            }
        }
    }

    .nav__profile {
        display: flex;
        margin-top: 10px;
        width: 11.3%;

        .notification {
            font-size: 28px;
            margin: 19px 23px 0 0;            

            i {color: $white;}

            .notification__number {
                font-size: 14px;
                content: '8';
                background-color: $notificationBackground;
                width: 1.1%;
                text-align: center;
                border-radius: 43%;
                position: absolute;
                right: 133px;
                top: 28px;
                color: $white;
            }
            
        }

        .photo {
            margin-top: 12px;

            img {
                border-radius: 50%;
                width: 32%;
                border: 2px solid $white;
            }

            .arrow {
                position: absolute;
                top: 30px;
                padding-left: 3px;
                font-size: 24px;
                color: $white;
            }

            
        }
    }
}